.navbar a{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px 40px;
}

.menu a {
  text-decoration: none;
  color: rgb(116, 116, 116);
}

.menu {
  display: flex;
  gap: 30px; 
}

.user {
    background-color: rgba(153, 228, 253, 0.712);
    color: #1da1f2;
    height: 20px;
    width: 90px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

body {
  font-family: Arial, sans-serif;
}

.hero {
  height: calc(100vh - 90px);    
  display: flex;
  align-items: center;  
  justify-content: space-between;
  padding-top: 0%;     
  padding-left: 50px;
}

.left {
  width: 50%;
}

.left h1 {
  font-size: 60px;
  color: #4a5a67;
  margin-bottom: 20px;
}

.left h1 span {
  color: #1da1f2;
}

.left p {
  color: #7a8a96;
  margin-bottom: 25px;
  line-height: 1.6;
}

.left button {
  background: #1da1f2;
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 10px;
  font-size: 16px;
}

.right {
  width: 50%;
}

.right img {
  width: 100%;
  height: 500px;
}
